QPushButton[jump_type=jump] {
  background-color: cyan;
  color: black;
}

QPushButton[jump_type=loop] {
  background-color: white;
  color: black;
}

QPushButton:checked {
  background-color: black;
}

QToolButton:checked {
  background-color: black;
}

